version: '3.8'

services:
  app:
    build: .
    container_name: financeiro_rovema_bank
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: production 
      APP_DEBUG: true
      APP_URL: http://172.18.37.58:8000
    ports:
      - "8000:80"

