version: '3.8'

services:
  app:
    build: .
    container_name: financeiro_rovema_bank
    restart: always
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    ports:
      - "8000:80"
    # Dica: Se o banco estiver numa VPN ou rede interna, garanta que o Docker
    # tenha acesso a essa rede. Geralmente o modo 'bridge' padrão funciona
    # para saídas externas (internet/intranet).